---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav";
import Hero from "../components/Hero";
import styles from "../styles";
import About from "../components/About";
import Stats from "../components/Stats";
import CaseStudies from "../components/CaseStudies";
import Footer from "../components/Footer.tsx";
import Contact from "../components/Contact.tsx";
---



<Layout title="Welcome to Astro.">
  <main>
    <Nav client:load />
    <div class={` ${styles.flexStart} `}>
        <Hero client:visible />
    </div>
    <div class={` ${styles.flexStart} bg-gray-900`}>
      <About client:visible />
    </div>
    <div class={` ${styles.flexStart} bg-black border-y`} >
      <Stats client:visible />
    </div >
    <div class={` ${styles.flexStart} `}>
      <CaseStudies client:visible />;
    </div>
    <div class={` ${styles.flexStart} bg-gray-900 `}>
      <Contact client:visible />
    </div>
    <div class={` ${styles.flexStart} `}>
      <Footer />
    </div>

    
  </main>
</Layout>
../components/Footer.tsx